.content {
	width: 100%;

	figure {
		width: 100%;
		height: 300px;
		position: relative;
		background: #222;
		overflow: hidden;

		> .inner {
			width: 1180px;
			height: 300px;
			margin: 0 auto;
			position: relative;
			z-index: 1;

			.tit {
				width: 100%;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				animation: moveTit 1s alternate ease-in-out;

				h1 {
					font: 6vw/1 'Bebas Neue';
					color: #eee;
					margin-bottom: 10px;
					letter-spacing: 2px;
				}
				p {
					font: 20px/1 'Smooch Sans';
					color: #eee;
					letter-spacing: 1px;
				}
			}

			.pic {
				position: absolute;
				right: 0;
				top: 30px;
				width: 35vw;
				height: 210px;
				animation: moveImg 1s alternate ease-in;

				h2 {
					width: 50%;
					text-align: right;
					font: 16px/1 'Smooch Sans';
					color: #bbb;
					position: absolute;
					right: 10px;
					top: 10px;
					z-index: 1;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: left center;
					vertical-align: middle;
				}

				&::after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(-90deg, #000, rgba(0, 0, 0, 0));
				}
				&::before {
					content: '';
					display: block;
					position: absolute;
					bottom: -30px;
					right: 30px;
					width: 35vw;
					height: 210px;
					background: rgba(111, 216, 134, 0.4);
					animation: moveBg 2s alternate ease-in-out;
					z-index: -1;
				}
			}
		}
	}

	> .inner {
		width: 1180px;
		margin: 0 auto;
		min-height: 500px;
		position: relative;
		transform: translateY(100px);
		opacity: 0;
		transition: 1s;

		h1 {
			font: normal 32px/1 'Bebas Neue';
			color: #222;
			letter-spacing: 2px;
			margin-bottom: 50px;
		}
	}

	&.on {
		> .inner {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

.btnMove {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: #222;
	border-radius: 50%;
	border: none;
	font-size: 30px;
	line-height: 50px;
	color: #eee;
	text-align: center;
	cursor: pointer;
	z-index: 10;
}

@keyframes moveTit {
	0% {
		left: -100%;
	}
	100% {
		left: 0;
	}
}
@keyframes moveImg {
	0% {
		right: -100%;
	}
	100% {
		right: 0;
	}
}
@keyframes moveBg {
	0% {
		right: -100%;
	}
	100% {
		right: 30px;
	}
}

@media screen and (max-width: $tablet) {
	.content {
		figure {
			height: 160px;
			> .inner {
				width: 100%;
				height: 100%;
				padding: 0 30px;

				.tit {
					position: relative;

					h1 {
						font-size: 50px;
					}
				}
				.pic {
					display: none;
				}
			}
		}
		> .inner {
			width: 100%;
			padding: 0 30px;
		}
	}
	.btnMove {
		display: none;
	}
}
