nav {
	width: 280px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: #222;
	z-index: 5;
	padding: 50px;

	.nav_wrap {
		position: relative;
		width: 100%;
		height: 100%;

		h1 {
			width: 75px;
			margin-bottom: 40px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		#gnb {
			top: 100px;
			li {
				a {
					font: 22px/1.8 'Smooch Sans';
					color: #eee;
					letter-spacing: 1px;
					text-transform: uppercase;

					&:hover {
						color: #6fd885;
					}
				}
			}
		}
	}
}
