#banner {
	width: 100%;
	background: #010101;
	padding: 80px 0;
	overflow: hidden;

	.inner {
		width: 1180px;
		margin: 0 auto;

		.swiper {
			height: 100%;

			.swiper-button-prev,
			.swiper-button-next {
				&::after {
					color: #eee;
					font-size: 25px;
				}
			}
			.swiper-pagination {
				.swiper-pagination-bullet {
					background: #fff;
					opacity: 0.5;
				}
				.swiper-pagination-bullet-active {
					background: #6fd885;
					opacity: 1;
				}
			}

			.swiper-slide {
				width: 100%;

				.con_banner {
					width: 90%;
					margin: 0 auto;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;

					article {
						width: 65%;
						padding-right: 50px;

						h1 {
							font: 60px/1 'Bebas Neue';
							color: #eee;
							letter-spacing: 2px;
							margin-bottom: 20px;
						}
						h2 {
							font: 24px/1.2 'Bebas Neue';
							color: #aaa;
							letter-spacing: 1px;
							margin-bottom: 20px;
						}
						p {
							font: 16px/1.2 'Smooch Sans';
							color: #aaa;
							margin-bottom: 50px;
						}
						button {
							width: 160px;
							height: 36px;
							border-radius: 18px;
							font: 16px/1 'Bebas Neue';
							color: #eee;
							letter-spacing: 2px;
							background: transparent;
							border: 1px solid #eee;
							cursor: pointer;

							&:hover {
								background: #eee;
								color: #222;
							}
						}
					}
					.pic {
						width: 30%;
						height: 400px;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#banner {
		.inner {
			width: 100%;
			padding: 0 30px;

			.swiper {
				.swiper-button-prev {
					left: 0;
				}

				.swiper-button-next {
					right: 0;
				}
				.swiper-slide {
					.con_banner {
						width: 100%;

						article {
							width: 100%;
							text-align: center;
							margin-bottom: 50px;
							padding-right: 0;
							h1 {
								font-size: 8vw;
							}
							p {
								display: none;
							}
						}
						.pic {
							width: 80%;
							height: auto;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#banner {
		padding: 50px 0;
	}
}
