.scrollBtns {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 5;

	li {
		width: 10px;
		height: 10px;
		border-radius: 5px;
		background: #bbb;
		margin: 20px;
		transition: 0.5s;
		cursor: pointer;

		&.on {
			height: 80px;
			background: #6fd885;
		}
	}
}

@media screen and (max-width: $tablet) {
	.scrollBtns {
		display: none;
	}
}
