.about {
	.memberList {
		margin-top: 100px;
		margin-bottom: 100px;

		.inner {
			width: 1180px;
			margin: 0 auto;

			h1 {
				font: normal 32px/1 'Bebas Neue';
				color: #222;
				letter-spacing: 2px;
				margin-bottom: 30px;
			}

			.wrap {
				article {
					width: 280px;
					margin-right: 20px;
					margin-bottom: 60px;
					border-top: 3px solid #222;
					padding-top: 20px;
					float: left;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					position: relative;
					cursor: pointer;
					transform: 0.5s;

					&::before {
						content: '';
						display: block;
						width: 0;
						height: 3px;
						position: absolute;
						top: -3px;
						left: 0;
						background: transparent;
						transform: translateX(100%);
						transition: 0.5s;
					}
					&::after {
						content: '';
						display: block;
						width: 0;
						height: 1px;
						position: absolute;
						bottom: 0;
						left: 0;
						background: transparent;
						transform: translateX(100%);
						transition: 0.5s;
					}

					&:nth-of-type(4n) {
						margin-right: 0;
					}

					> .pic {
						width: 280px;
						height: 280px;
						position: relative;

						&::after {
							content: '';
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							opacity: 0.5;
							transition: 0.5s;
						}

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					> .txt {
						width: 100%;
						padding: 30px 0;

						h2 {
							font: bold 32px/1.2 'Smooch Sans';
							color: #222;
							letter-spacing: 1px;
							margin-bottom: 5px;
							transition: 0.5s;
						}
						h3 {
							font: 18px/1.2 'Smooch Sans';
							color: #222;
							margin-bottom: 20px;
							transition: 0.5s;
						}
						p {
							font: 15px/1.2 'Smooch Sans';
							color: #555;
							transition: 0.5s;
						}
					}

					&:hover {
						&::before {
							width: 100%;
							transform: translateX(0);
							background: #6fd885;
						}
						&::after {
							width: 100%;
							transform: translateX(0);
							background: #6fd885;
						}

						> .pic {
							&::after {
								background: #6fd885;
							}
						}
						> .txt {
							h2,
							h3,
							p {
								color: #6fd885;
							}
						}
					}
				}
			}
		}
	}

	.global {
		margin-bottom: 100px;

		.inner {
			width: 1180px;
			margin: 0 auto;

			h1 {
				font: normal 32px/1 'Bebas Neue';
				color: #222;
				letter-spacing: 2px;
				margin-bottom: 30px;
			}

			> .wrap {
				article {
					width: 100%;
					float: left;
					cursor: pointer;

					&:hover {
						background: #f8f8f8;
					}

					> .wrap {
						h2 {
							width: 300px;
							float: left;
							padding: 40px 0;
							font: 70px/1 'Bebas Neue';
							color: #6fd885;
							letter-spacing: 3px;
						}
						> .txt {
							width: 880px;
							float: left;
							padding: 40px 0 40px 40px;
							border-left: 2px solid rgba(111, 216, 134, 0.3);

							span {
								display: block;
								font: 14px/1 'Smooch Sans';
								color: #6fd885;
								margin-bottom: 5px;
								position: relative;

								&::before {
									content: '';
									display: block;
									position: absolute;
									top: 5px;
									left: -46px;
									width: 10px;
									height: 10px;
									border-radius: 50%;
									background: #6fd885;
								}
							}
							h3 {
								font: bold 18px/1.2 'Smooch Sans';
								color: #6fd885;
								margin-bottom: 30px;
							}

							h4 {
								font: bold 22px/1.2 'Smooch Sans';
								color: #222;
								margin-bottom: 10px;
								position: relative;
							}
							p {
								font: 16px/1.2 'Smooch Sans';
								color: #666;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.about {
		.memberList {
			.inner {
				width: 100%;
				padding: 0 30px;

				.wrap {
					article {
						width: 49%;
						margin-right: 2%;

						&:nth-of-type(2n) {
							margin-right: 0;
						}
						.pic {
							width: 100%;
						}
					}
				}
			}
		}
		.global {
			.inner {
				width: 100%;
				padding: 0 30px;

				> .wrap {
					article {
						> .wrap {
							border-left: 2px solid rgba(111, 216, 134, 0.3);

							h2 {
								width: 100%;
								padding: 40px 20px;
								font-size: 60px;
							}
							> .txt {
								width: 100%;
								padding: 0 20px 40px 20px;
								border-left: none;

								span {
									&::before {
										left: -26px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.about {
		.memberList {
			.inner {
				.wrap {
					article {
						width: 100%;
						margin-right: 0;
					}
				}
			}
		}
	}
}
